@mixin batchHover($color) {
  &:hover {
    background-color: darken($color, 5%);
  }
}
.Batch {
  padding: 5px 5px 5px 10px;
  margin: 5px 0;
  font-size: 12px;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  cursor: pointer;
  @include m(regular) {
    border-color: getAppColor(pilltab-bg);
    background-color: getAppColor(bogy-bg);
    color: getAppColor(light-body-font);
    @include batchHover(getAppColor(body-bg));
  }
  @include m(blue) {
    border-color: getAppColor(blue-accent);
    background-color: rgba(getAppColor(blue-accent), 0.2);
    color: getAppColor(blue-accent);
    @include batchHover(rgba(getAppColor(blue-accent), 0.4));
  }
  @include m(icon) {
    display: inline-flex;
    align-items: center;
  }
  @include e(icon) {
    font-size: 16px;
    margin-left: 2px;
  }
}
