.export-panel {
  border: 1px solid getAppColor(border-color);

  .export-list {
    width: 223px;
    background-color: getAppColor(export-list);
    border-right: 1px solid getAppColor(border-color);
    @include e(title) {
      text-transform: uppercase;
      font-size: 12px;
      color: getAppColor(pilltab-bg);
      padding: 12px;
      border-bottom: 1px solid getAppColor(border-color);
    }
    @include e(row) {
      padding: 12px;
      border-bottom: 1px solid getAppColor(border-color);
      .form-group {
        margin-bottom: 0px;
      }
      @include m(selected) {
        background-color: white;
        .form-group__label {
          font-weight: bold;
          color: getAppColor(body-font);
        }
      }
    }
  }
}

.export-form {
  padding: 0 30px;
}
